*{
    box-sizing: border-box;
}
body
{
    margin: 0px;
    padding: 10px;
    background: rgb(245, 240, 240);
    /*text-align: center;*/
}


header, footer
{
    border-radius: 5px;
}
.wrapper
{
    width: 100%;
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}
.logo
{
    font-style: italic;
    text-decoration-color: #6e2f2f;
    color:#f34949;
}
ul
{
    list-style-type: none;
    
}


header nav li
{
    float: right;
    list-style-type: none;
    margin: 10px 20px;
    color:#f34949;
}
header nav li a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    color:#f34949;
    font-style: italic;
}



section{
 width: 20%;
 float:left;
 height: 400px;
}
.right{
    width: 75%;
    float:right;
    height: 400px;
    margin-left: 3%;
    margin-right:2%;
 
 
}
.edu{
    height: 50px;
    width: 50px;
    float: left;
}

ul p{
margin-left: 5px;
}

ul li a{
    color: black;
}
.main *{
    border-radius: 10px;

}

.main {
    margin:10px 0px;
}
.main::after{
    content:"";
    clear:both;
    display: table;
}
span {
    font-size: 12px;
    padding-left: 0.5em;
}
.type{
    list-style-type: disc;
}
.work{
    height: 70px;
    width: 70px;
    float: left;
    padding: 0;
    margin-right: 1.5em;
}
footer{
    background: #3b3b3b;
    padding: 30px 0;
}
footer:after
{
    content: "";
    display: block;
    clear: both;
}

footer ul{
    float: left;
    padding: 0;
    list-style-type: none;
    color: #eee;
    width: 23%;
    margin-right: 2%;
}
footer ul li a{
    color: #eee;
}

footer li{
    margin: 10px 0;
}

footer a{
    color: #eee;
    text-decoration: none;
}
footer ul li img
{
    border-radius: 250%;
}
