<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="container"
    <!==This is the logo of our app==>
    <header>
       <!== Fitness Club ==>
       <a href="main.html"><img src="images/mylogo.png" alt="Photo"</a> <br> <br>
    </header>
    
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href='#'>Aman's Blog</a>
            </div>
            <nav class="desktop">
                <ul id='MenuItems'>
                    <li><a href="#">Home</a> &nbsp; &nbsp;</li>
                    <li><a href="#">Experience & Education</a> &nbsp; &nbsp;</li>
                    <li><a href="#">Hobbies</a> &nbsp; &nbsp;</li>
                    <li><a href="#">Pictures</a> &nbsp; &nbsp;</li>
                    
                </ul>
            </nav>
        </div>
   </div>
    <!== This is the section for main content of the page ==>
    <main></main>
    <!== Footer area==>
    <footer>
        &copy; Copyright 2021. All rights are reserved. <br>
        <p>For more details contact me on below address:-</p>
        <a href="mailto: boparai.aman3@gmail.com">boparai.aman3@gmail.com</a> <br>
        <a href="tel: +17059911084">+17059911084</a>
        </footer>
</body>
</html>